@font-face {
    font-family: 'Baloo Chettan Regular';
    src: local("☺"), url("../assets/fonts/baloo-chettan-webfont/BalooChettan-Regular.woff") format("woff");
    font-weight: 900;
    font-style: normal
}

body { 
    background-color: #FFF7F7;
    margin-top: 25px;
    padding-bottom: 80px; 
}
#historias-centro {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}
.group {
    margin-left: 20px;
}
.text_menor { 
    font-size: 15.7px;
    margin-bottom: -10px;
    font-family:'Gelasio';
}

.text_maior {
    font-size: 38.7px;
    margin: 0;
    font-family:'Baloo Chettan Regular';
    font-weight: 900;
}

#linha { 
    height: 1px;
    width: 330px;
}

.imagens { 
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#Atividades {
    display: grid;
    text-align: center;
    flex-direction: column;
    margin-bottom: 30px; /* Valor corrigido (ex: 30px) */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Estilo para o botão transparente */
button.circle {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    
    /* Mantém o layout que você já tinha */
    display: flex;
    text-align: center;
    align-items: center; /* Ajuda a alinhar o ícone e o texto verticalmente */
    flex-direction: column;
    justify-content: center;
}

button.circle h2 {
    font-family: 'Baloo Chettan Regular', sans-serif;
    font-size: 19px; /* Movido para cá para ser mais específico */
    margin: 0;
    margin-top: -1vh;
}

#icone {
    width: 28vw;
}

#iconefinal {
    width: 100px;
}

/* Regra .buttons combinada e corrigida */
.buttons { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #FFF7F7;
    border: 3px solid #EBDFDF;
    font-family: 'Baloo Chettan Regular', sans-serif;
    font-size: 21.7px;
}

/* Seletor :disabled corrigido */
.buttons:disabled { 
    color: black;
}

#buttonsLogin button { 
    background-color: #0262FF;
    border-radius: 30px;
    color: white;
    border: 1px solid #0262FF;
    height: 50px;
    width: 340px;
    margin-top: 30px;
    font-family:'Baloo Chettan Regular';
    font-size: 18px;
}

#logoInicial { 
    margin-top: 50px;
    height: 303px;
    width: 292px;
}

#home {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between; 
    align-items: center; 
    margin-top: -10px;
}

#logo { 
    height: 62px;
    width: 62px;
    margin-right: 20px;
}

#textHome {
    font-family:'Baloo Chettan Regular';
    font-size: 21px;
    margin-left: 25px;
    margin-top: 10px;
}

#telacentrohistorias{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

#imgHis { 
    height: 45vh;
}

.quadBranco { 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    height: 20vh;
    width: 40vw;
    flex-direction: column;
    font-family: 'Baloo Chettan Regular';
    font-size: 12px;
    gap: 1px;

    & h2{ 
        margin: 0;
    }

}
