#imgTelaCadastro{ 
    height: 30vh;
    margin-bottom: -10vh;
    margin-top: 5vh;
}

input {
    color: #b4b4b4;
    font-family: 'Baloo Chettan Regular';
    font-size: 1rem;
}


#juntar { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.row-itens { 
    display: flex;
    flex-direction: row;
    align-items: start ;
    gap: 5vh;
}
.linhaInput { 
    margin: 0;
    margin-top: 1vh;
}

.input { 
    width: 50vw;
}

.col-itens-input { 
    width: 70vw;
}

#btnLogin { 
    height: 5vh;
    width: 60vw;
    font-size: 1.3rem;
}
