@font-face {
    font-family: 'Baloo Chettan Regular';
    src: local("☺"), url("../assets/fonts/baloo-chettan-webfont/BalooChettan-Regular.woff") format("woff");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Gelasio';
    src: local("☺"), url("../assets/fonts/gelasio-webfont/Gelasio-Regular.woff") format("woff");
    font-weight: 900;
    font-style: normal
}

@font-face { 
    font-family: 'Arimo';
    src: local(0), url("../assets/fonts/Arimo/Arimo-Regular.ttf") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face { 
    font-family: 'Arimo';
    src: local(0), url("../assets/fonts/Arimo/Arimo-Bold.ttf") format("woff");
    font-weight: 900;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    background-color: #FFF7F7;
    flex-direction: column;

}

.btns-blue{ 
    background-color: #0262FF;
    border: #0262FF;
    border-radius: 20px;
    color: white;
}


#telaLoginKid { 
    display: flex; 
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
   
}

.perfil_kid { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icone { 
    width: 133px;
    height: 133px;
    border-radius: 100%;
    background-color: rgb(218, 218, 218);
}

#btnLoginKid { 
    font-family: 'Baloo Chettan Regular';
    height: 39px;
    width: 269px;
    font-size: 20px;
}

.nome_kid { 
    font-family: 'Baloo Chettan Regular';
    font-size: 17px;
}

#menu { 
    width: 318px;
    height: 531px;
    background-color: white;
    border-radius: 15px;

    /* Novas propriedades para centralizar e sobrepor */
    position: fixed;           /* Fica sobre a página */
    top: 50%;                  /* Centraliza vertical */
    left: 50%;                 /* Centraliza horizontal */
    transform: translate(-50%, -50%); /* Ajuste central perfeito */
    z-index: 1000;             /* Fica acima de outros elementos */
    display: none;             /* Inicialmente escondido */
}

/* Fundo escuro atrás do menu */
#menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;                  /* Fica atrás do menu */
    border-radius: 0;             /* Sem borda no overlay */
}
#options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: column;
    font-family: 'Baloo Chettan Regular';
    font-size: 20px;

}

#sair { 
    display: flex;
    justify-content: end;
    margin: 10px;
}

#config { 
    display: flex;
    justify-content: end;
    height: 30px;
    margin-right: 30px;
    margin-top: 30px;
    position: fixed;
    right: 0;

}

#listaCrianças{ 
    margin-top: 30px;
}

