
#imgTelaCadastro{ 
    width: 219px;
    height: 227px;
}

.icone { 
    width: 133px;
    height: 133px;
    border-radius: 100%;
    background-color: rgb(218, 218, 218);
}

#escolha{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 300px; 
    height: 130px;
    background-color: #ffffff;
    border-radius: 15px;
}

.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.row { 
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.icone-escolha { 
    width: 50px; 
    height: 50px;
}

input::placeholder { 
    background-color: #FFF7F7;
    color: #696969;
}

input {
    background-color: #FFF7F7;
    color: #696969;
}
