body { 
    height: 100%;
}

header { 
    display: flex;
    justify-content: end;
    margin: 15px;
}

#telaLoginKid { 
    display: flex; 
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.perfil_kid { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icone { 
    width: 133px;
    height: 133px;
    border-radius: 100%;
    background-color: rgb(218, 218, 218);
}

#btnLoginKid { 
    font-family: 'Baloo Chettan Regular';
    height: 39px;
    width: 269px;
    font-size: 20px;
}

.nome_kid { 
    font-family: 'Baloo Chettan Regular';
    font-size: 17px;
}
