html, body {
    margin: 0 !important; /* Força remover qualquer margem */
    padding: 0 !important; /* Força remover qualquer padding */
    height: 100% !important; /* Força altura total */
    width: 100% !important; /* Força largura total */
    background-color: #FFF9F9; /* ESTA É A COR DE FUNDO AZUL DE TELA CHEIA */
   
    display: block !important; /* Reseta para block para depois o body ser flex */
}

/* O fundo azul e o flexbox para centralizar AGORA FICAM NO BODY */
body {
    background-color: #FFF9F9 !important; /* ESTA É A COR DE FUNDO AZUL DE TELA CHEIA */
    display: flex !important; /* Torna o body um container flexível */
    justify-content: center !important; /* Centraliza o conteúdo horizontalmente */
    align-items: center !important; /* Centraliza o conteúdo verticalmente */
    flex-direction: column !important; /* Empilha os itens verticalmente */
    overflow: hidden !important; /* Evita barras de rolagem indesejadas */
    /* Você pode adicionar a font-family aqui se ela for específica da tela de login */
    font-family: 'Baloo Chettan 2', sans-serif !important; 
}
#imgTelaCadastro{ 
    margin-bottom: 0px;
    margin-top: 0px;
    height: 50vh;
}

input {
    font-family: 'Baloo Chettan Regular';
    font-size: 1rem;
    background-color: #FFF9F9;
}


#juntar { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.row-itens { 
    display: flex;
    flex-direction: row;
    align-items: start ;
    gap: 5vh;
    background-color: #FFF9F9 !important;
}
.linhaInput { 
    margin: 0;
    margin-top: 1vh;
}

.input { 
    width: 50vw;
    background-color: #FFF9F9;
}

.col-itens-input { 
    width: 70vw;
    background-color: #FFF9F9;
}

#btnLogin { 
    height: 5vh;
    width: 60vw;
    font-size: 1.3rem;
}

input::placeholder { 
    color: #6B6B6B;
    font-family: 'Baloo Chettan Regular';
    font-size: 16px;
}

#senha2, #senha, #email, #nome {
    color: black;
}
