#imgTelaCadastro{ 
    width: 219px;
    height: 227px;
}

input {
    color: #b4b4b4;
    font-family: 'Baloo Chettan Regular';
    font-size: 16px;
}

#subtitlecad { 
    padding-top: -1000px;
}

#juntar { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.row-itens { 
    display: flex;
    flex-direction: row;
    align-items: start ;
    gap: 10px;
}
.linhaInput { 
    margin: 0;
    margin-top: 5px;
}

.input { 
    width: 200px;
}

.col-itens-input { 
    width: 250px;
}

#senhaCadastro { 
    margin-left: 10px;
    margin-right: 25px;
}

#emailLogin{ 
    margin-left: 20px;
}

#nome{ 
    margin-left: -8px;
}
